<h1>Cadastrar Convidado</h1>

<div class="well">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input 
        type="text"
        class="form-control"
        id="nome"
        [(ngModel)]="lista.nome"
        name="nome"> 
    </div>
    <div class="form-group text-center">
      <input 
        type="submit"
        class="btn btn-success"
        value="Cadastrar">
      <a [routerLink]="['/listapresenca']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" 
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>